.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.post {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}



h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: black;
}

h6 {
  font-size: 1rem;
  color: #2E2E2E;
  margin-bottom: 0.5rem;
  font-size: 0.90rem;
}

.created-at {
  font-size: 0.85rem;
  color: #6b7280;
}
div[class="col-4"]
{ margin: 0 auto;
 }

button {
    height: 40px;
    width: 40px;
    transition: transform 0.3s;
    margin-left: 1020px;
    margin-bottom: 120px;
    font-size: 2.5rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

button:hover {
    transform: scale(1.1);
}

.profile_image {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}


.col-12 {
  display: flex;
  align-items: center;
  gap: 20px;
}