{% extends "base/base.html" %}

{% load static %}

{% block title %}Text Posts{% endblock %}


{% block import %}
<link rel="stylesheet" href="{% static 'posts/css/post_view.css' %}">
{% endblock %}


{% block content %}
<div>
    <a href="{% url 'create_text' %}" class="btn btn-secondary">
        <strong>✚</strong>
    </a>
</div>


{% for p in text_posts %}

<div class="posts">
    <div class="inner_div">
        <strong>{{ p.title }}</strong><br>
        {{ p.content }}<br>
        {{ p.created_at }}
    </div>

</div><br>

{% empty %}

<h2>There are no Posts yet</h2>


<script src="{% static 'posts/css/post_view.css' %}"></script>
{% endfor %}
{% endblock %}