{% extends "base/base.html" %}

{% load static %}

{% block title %}Text Posts{% endblock %}


{% block import %}
<link rel="stylesheet" href="{% static 'posts/css/post_view.css' %}">

{% endblock %}


{% block content %}
<div>
    <a href="{% url 'create_text' %}" class="btn btn-secondary">
        <strong>✚</strong>
    </a>
</div>

{% csrf_token %}
{% for p in text_posts %}

<div class="posts">
    <div class="inner_div">
        {% if p.image %}
            <img src="{{ p.image.url }}">
        {% endif %}
        <strong>{{ p.title }}</strong>
        <p>{{ p.content }}</p>
        <small>{{ p.created_at }}</small>
          <button class="likeBtn" data-post-id="{{ p.id }}">
            <svg viewBox="0 0 24 24">
              <path d="M2 21h4V9H2v12zm19-11c0-1.1-.9-2-2-2h-6.31l.95-4.57
                    .03-.32c0-.41-.17-.79-.44-1.06L12.17 2 7.59 6.59C7.22
                    6.95 7 7.45 7 8v9c0 1.1.9 2 2 2h7c.82 0 1.54-.5
                    1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1z"/>
            </svg><span class="like-count" data-post-id="{{ p.id }}">{{ p.likes_count }}</span>
            </button>

            <button class="dislikeBtn" data-post-id="{{ p.id }}">

              <svg viewBox="0 0 24 24">
                <path d="M2 3h4v12H2V3zm19 11c0 1.1-.9 2-2 2h-6.31l.95
                         4.57.03.32c0 .41-.17.79-.44 1.06L12.17 22l-4.58-4.59
                         C7.22 17.05 7 16.55 7 16V7c0-1.1.9-2 2-2h7c.82
                         0 1.54.5 1.84 1.22l3.02 7.05c.09.23.14.47.14.73v1z"/>
              </svg><span class="dislike-count" data-post-id="{{ p.id }}">{{ p.dislikes_count }}</span>

            </button>

    </div>
</div>
<br>


{% empty %}

<h2>There are no Posts yet</h2>


{% endfor %}

<script src="{% static 'posts/js/rating_system.js' %}"></script>
{% endblock %}