{% extends "base/base.html" %}

{% load static %}

{% block title %}Create Text Post{% endblock %}


{% block import %}
<link rel="stylesheet" href="{% static 'posts/css/post_create.css' %}">
{% endblock %}


{% block content %}
<div class="page-container">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
        {{ form.image }}

        <input type="submit" value="Create" class="btn btn-secondary">
    </form>

</div>

<script src="{% static 'posts/css/post_create.css' %}"></script>
{% endblock %}