{% extends "base/base.html" %}

{% load static %}

{% block title %}Text Posts{% endblock %}


{% block import %}
<link rel="stylesheet" href="{% static 'posts/css/post_view.css' %}">

{% endblock %}


{% block content %}
<div class="d-flex align-items-start mb-3">
    <a href="{% url 'create_post' %}" class="btn btn-social me-3">
        <strong>✚ Додати Пост</strong>
    </a>
</div>


{% csrf_token %}
{% for p in text_posts %}

<div class="posts">
    <div class="inner_div">
        {% if p.image %}
            <img src="{{ p.image.url }}">
        {% endif %}
        <strong>{{ p.title }}</strong>
        <p>{{ p.content }}</p>
        <small>{{ p.created_at }}</small>
        <div class="reaction-buttons">
          <button class="likeBtn" data-post-id="{{ p.id }}">
            <svg viewBox="0 0 24 24">
              <path d="M2 21h4V9H2v12zm19-11c0-1.1-.9-2-2-2h-6.31l.95-4.57
                    .03-.32c0-.41-.17-.79-.44-1.06L12.17 2 7.59 6.59C7.22
                    6.95 7 7.45 7 8v9c0 1.1.9 2 2 2h7c.82 0 1.54-.5
                    1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1z"/>
            </svg><span class="like-count" data-post-id="{{ p.id }}">{{ p.likes_count }}</span>
            </button>

            <button class="dislikeBtn" data-post-id="{{ p.id }}">

              <svg viewBox="0 0 24 24">
                <path d="M2 3h4v12H2V3zm19 11c0 1.1-.9 2-2 2h-6.31l.95
                         4.57.03.32c0 .41-.17.79-.44 1.06L12.17 22l-4.58-4.59
                         C7.22 17.05 7 16.55 7 16V7c0-1.1.9-2 2-2h7c.82
                         0 1.54.5 1.84 1.22l3.02 7.05c.09.23.14.47.14.73v1z"/>
              </svg><span class="dislike-count" data-post-id="{{ p.id }}">{{ p.dislikes_count }}</span>

            </button>
          </div>
            <button type="button" class="btn-comment" data-bs-toggle="modal" data-bs-target="#commentModal">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M12 3C7 3 3 6 3 10c0 2.5 1.5 4.7 3.8 6l-.8 3 3-1.5c1.2.5 2.6.8 4 .8 5 0 9-3 9-7s-4-7-9-7z"/>
    </svg>
    Write a Comment...
</button>
    </div>
</div>
<br>


<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="comment-form" data-post-id="{{ p.id }}">
            {% csrf_token %}
            <input name="text" type="text" class="comment-input" placeholder="Write a Comment...">
            <input type="submit" value=">" class="commentSend">
          </form>

        <div class="comment-list" id="comment-list-{{ p.id }}">
            {% for c in p.comments.all %}
             <p><strong>{{ c.user.username }}:</strong> {{ c.text }}</p>
            {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% empty %}

<h2>There are no Posts yet</h2>


{% endfor %}



<script src="{% static 'posts/js/rating_system.js' %}"></script>
<script src="{% static 'posts/js/comment_creation.js' %}"></script>
{% endblock %}